.vscode
Builds
Logs
Temp
Library
obj
Assets/Packages
Assets/TextMesh Pro
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/XR2Learn-Unity-App-Example.iml
